/* Posts section starts */

.Post_Container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 5rem;
  margin: 12vh 0px 1vh 0px;
  width: 100%;
  background-color: #121826;
}

.Profiles_Container {
  background-color: #121826;
  width: 25%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 12.1vh;
  border: solid rgba(255, 255, 255, 0.225);
  border-width: 0.1px;
  border-top: 0;
  border-left: 0;
  border-right: 1;
  border-bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.Profiles_Box {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.Profiles_Box p {
  font-size: 250%;
  color: white;
  margin: 1rem;
}

.Friends_Profiles {
  width: auto;
  background-color: rgb(41, 51, 51);
}

.Profile {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}

.Profile img {
  width: 6rem;
  border-radius: 50%;
}

.Profile p {
  color: white;
  margin: 0;
}

.Profile button {
  color: white;
  background-color: #032f96c2;
  border: none;
  padding: 1vh 1vw;
  font-size: 120%;
}

.Message_Container {
  background-color: #151b2a7e;
  width: 30%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 12.1vh;
  border: solid rgba(255, 255, 255, 0.225);
  border-width: 0.1px;
  border-top: 0;
  border-left: 1;
  border-right: 0;
  border-bottom: 0;
  transition: box-shadow 0.5s;
}

.Message_Container:hover {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.244);
}

.Posts {
  width: 30%;
}

.Post_Box {
  min-width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgba(0, 0, 0, 0.181);
  margin: 2vh 0;
  border-width: 2px;
  padding: 1vh 2vh;
  background-color: rgb(255, 255, 255);
  transition: box-shadow 0.2s;
  border-radius: 10px;
}

.Post_Top_Content {
  display: flex;
  align-items: center;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 1vh 0 1vh 0;
}

.User_Profile img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 1vw;
  transition: box-shadow 0.5s;
}

.User_Profile img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.91);
}

.User_Name p {
  font-size: 125%;
  margin: 0;
  font-weight: bold;
  margin-left: 0.5vw;
}

.Post_Middle_Content .Post_Image {
  min-width: 100%;
}

.Post_Middle_Content .Post_Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.Post_Bottom_Content {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.Post_Bottom_Content div .Post_Heart_Count {
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-left: 1vw;
}

.Post_Bottom_Content div .Post_Heart_Count.clicked {
  animation: heartPop 1s ease-in-out;
}

@keyframes heartPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
    color: red;
  }
  100% {
    transform: scale(1);
  }
}

.Post_Bottom_Content .Post_Bottom_Content_Right_Section {
  margin-left: 1vw;
}

.Post_Bottom_Content .Post_Bottom_Content_Right_Section .Post_Title {
  font-size: 120%;
  font-weight: bold;
  word-wrap: break-word;
  margin: 0 0 1vh 0;
}

.Post_Bottom_Content .Post_Bottom_Content_Right_Section .Post_Date {
  font-size: 70%;
  margin: 0;
}

/* Posts section ends */

/* Media Quries */

@media (max-width: 1024px) {
  /* Posts section starts */

  .Post_Container {
    margin: 11vh 0px 1vh 0px;
    width: 100%;
    background-color: #121826;
  }

  .Profiles_Container {
    display: none;
  }

  .Message_Container {
    display: none;
  }

  .Posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    width: 98%;
  }

  .Post_Box {
    width: 100%;
    height: auto;
    border: none;
    margin: 1vh 0 1vh 0;
    padding: 0;
    border-radius: 5px;
  }

  .Post_Top_Content {
    padding: 0.5vh 0 0.5vh 0;
    width: 100%;
  }

  .User_Profile {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2vw;
  }

  .User_Profile img {
    width: 100%;
    height: 100%;
  }

  .User_Name p {
    font-size: 100%;
    margin: 0;
    margin-left: 2vw;
    padding: 0;
  }

  .Post_Middle_Content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Post_Middle_Content .Post_Image {
    width: 95%;
  }

  .Post_Middle_Content .Post_Image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .Post_Bottom_Content {
    padding: 1vh 0 1vh 0;
  }

  .Post_Bottom_Content div .Post_Heart_Count {
    font-size: 95%;
    margin: 0;
    margin-left: 4vw;
  }

  @keyframes heartPop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
      color: red;
    }
    100% {
      transform: scale(1);
    }
  }

  .Post_Bottom_Content .Post_Bottom_Content_Right_Section {
    margin-left: 2vw;
  }

  .Post_Bottom_Content .Post_Bottom_Content_Right_Section .Post_Title {
    font-size: 100%;
    margin: 0 0 0.5vh 0;
  }

  .Post_Bottom_Content .Post_Bottom_Content_Right_Section .Post_Date {
    font-size: 60%;
    margin: 0;
  }

  /* Posts section ends */
}

/* Media Quries */

@media (max-width: 768px) {
  /* Posts section starts */

  .Post_Container {
    margin: 10vh 0px 1vh 0px;
    width: 100%;
    background-color: #121826;
  }

  .Profiles_Container {
    display: none;
  }

  .Message_Container {
    display: none;
  }

  .Posts {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .Post_Box {
    width: 100%;
    height: auto;
    border: none;
    margin: 0vh 0 2vh 0;
    padding: 0;
    border-radius: 0;
  }

  .Post_Top_Content {
    padding: 0.5vh 0 0.5vh 0;
    width: 100%;
  }

  .User_Profile {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2vw;
  }

  .User_Profile img {
    width: 100%;
    height: 100%;
  }

  .User_Name p {
    font-size: 100%;
    margin: 0;
    margin-left: 2.5vw;
    padding: 0;
  }

  .Post_Middle_Content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Post_Middle_Content .Post_Image {
    width: 95%;
  }

  .Post_Middle_Content .Post_Image img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .Post_Bottom_Content {
    padding: 1vh 0 1vh 0;
  }

  .Post_Bottom_Content div .Post_Heart_Count {
    font-size: 95%;
    margin: 0;
    margin-left: 4vw;
  }

  @keyframes heartPop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
      color: red;
    }
    100% {
      transform: scale(1);
    }
  }

  .Post_Bottom_Content .Post_Bottom_Content_Right_Section {
    margin-left: 4vw;
  }

  .Post_Bottom_Content .Post_Bottom_Content_Right_Section .Post_Title {
    font-size: 100%;
    margin: 0 0 0.5vh 0;
  }

  .Post_Bottom_Content .Post_Bottom_Content_Right_Section .Post_Date {
    font-size: 60%;
    margin: 0;
  }

  /* Posts section ends */
}
